<!DOCTYPE html>
<html>
<head>
	<title>Rocky Point Vacation Rentals</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


</head>	
<body>
<header>
	
	<button class="btn">Reserve Now</button>
	<nav>
		<li><a href="#">Home</a></li>
		<li><a href="#"><span class="nowrap">Rooms and Suites</span></a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Directions</a></li>
		<li><a href="#">Contact</a></li>
	</nav>

	<div class="landing">
		<h1><span class="nowrap">Rocky Point</span> <span class="nowrap">Vacation Rentals</span></h1>
		<button class="start">Start</button>
	</div>
	

</header>

<section id="banner">
	<h2>Explore What We Have To Offer</h2>

 	<p>Las Palomas Beach and Golf Resort is the best ranked resort in Puerto Penasco.	Accommodations are fully-furnished condos, ranging from one to five bedrooms, each with breathtaking ocean views of the Sea of Cortez.</p>

 	<div class="rooms">
 		<button>1 bedroom</button>
 		<button>2 bedrooms</button>
 		<button>3, 4, & 5 bedrooms</button>
 	</div>
</section>

<div class="carousel">
	<div class="reel">

		<article>
			<a href="#" class="image featured"><img src="https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?auto=compress&cs=tinysrgb&h=350" alt="" /></a>
			<div class="card">
				<h3><a href="#">1BD/1BA, Cristal 306, Oceanfront, Ph 1, 3rd Floor</a></h3>
				<p>$170.00</p>
			</div>
		</article>

		<article>
			<a href="#" class="image featured"><img src="https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?auto=compress&cs=tinysrgb&h=350" alt="" /></a>
			<div class="card">
				<h3><a href="#">1BD/1BA, Cristal 306, Oceanfront, Ph 1, 3rd Floor</a></h3>
				<p>$170.00</p>
			</div>
		</article>

		<article>
			<a href="#" class="image featured"><img src="https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?auto=compress&cs=tinysrgb&h=350" alt="" /></a>
			<div class="card">
				<h3><a href="#">1BD/1BA, Cristal 306, Oceanfront, Ph 1, 3rd Floor</a></h3>
				<p>$170.00</p>
			</div>
		</article>

		<article>
			<a href="#" class="image featured"><img src="https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?auto=compress&cs=tinysrgb&h=350" alt="" /></a>
			<div class="card">
				<h3><a href="#">1BD/1BA, Cristal 306, Oceanfront, Ph 1, 3rd Floor</a></h3>
				<p>$170.00</p>
			</div>
		</article>

		<article>
			<a href="#" class="image featured"><img src="https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?auto=compress&cs=tinysrgb&h=350" alt="" /></a>
			<div class="card">
				<h3><a href="#">1BD/1BA, Cristal 306, Oceanfront, Ph 1, 3rd Floor</a></h3>
				<p>$170.00</p>
			</div>
		</article>
		<article>
			<a href="#" class="image featured"><img src="https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?auto=compress&cs=tinysrgb&h=350" alt="" /></a>
			<div class="card">
				<h3><a href="#">1BD/1BA, Cristal 306, Oceanfront, Ph 1, 3rd Floor</a></h3>
				<p>$170.00</p>
			</div>
		</article>
		<article>
			<a href="#" class="image featured"><img src="https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?auto=compress&cs=tinysrgb&h=350" alt="" /></a>
			<div class="card">
				<h3><a href="#">1BD/1BA, Cristal 306, Oceanfront, Ph 1, 3rd Floor</a></h3>
				<p>$170.00</p>
			</div>
		</article>
		<article>
			<a href="#" class="image featured"><img src="https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?auto=compress&cs=tinysrgb&h=350" alt="" /></a>
			<div class="card">
				<h3><a href="#">1BD/1BA, Cristal 306, Oceanfront, Ph 1, 3rd Floor</a></h3>
				<p>$170.00</p>
			</div>
		</article>


	</div>
	<button class="scroll" id="left">&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-left"></i></button>
	<button class="scroll" id="right"><i class="fas fa-chevron-right"></i>&nbsp;&nbsp;&nbsp;</button>
	

</div>


<section class="about">
	<h2>About</h2>
	<p>Rocky Point, also known as Puerto Penasco, is an exciting resort town with beautiful beachfront homes, new luxurious condos and a wide range of activities for anyone thinking about a tropical getaway.</p> 
</section>


<script type="text/javascript" src="/js/main.js	" ></script>
</body>
</html>