<!DOCTYPE html>
<html>
<head>
	<title>Rocky Point Vacation Rentals</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


</head>
<body>
<header>
	
	<button class="btn">Reserve Now</button>
	<nav>
		<li><a href="#">Home</a></li>
		<li><a href="#">Rooms and Suites</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Directions</a></li>
		<li><a href="#">Contact</a></li>
	</nav>
	<h1>Rocky Point Vacation Rentals</h1>
	<ul class="slideshow">
     	<li></li>
     	<li></li>
     	<li></li>
    </ul>
</header>

<section class="one">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>


</body>
</html>