/*General Styless*/
* {
	margin: 0 0;
	padding: 0 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans";
	background-color: aliceblue;
	font-size: 16px;
	font-weight: 300;

}

button{
	font-family: "Montserrat";
}

button:focus {
	outline: none;
}

a {
	text-decoration: none;
}

nav {
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	height: 80px;	
	list-style: none;
	letter-spacing: 0.1em;
	display: flex;
	justify-content: center;
	text-align: center;

}



/*header Styles*/
header{
	font-family: "Montserrat";
	width: 100%;
	height: 100vh;
	background-image: url(https://images.unsplash.com/photo-1471085507142-12355181f804?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8347073f0cfd075b51c9bdf525e740b4&auto=format&fit=crop&w=1650&q=80);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
}



header nav li {
	margin: 0 25px;
	display: flex;
	align-items: center;

}

header nav li a {
	text-transform: uppercase;
	font-size: 14px;
	color: white;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	transition: border-bottom 0.5s linear;
}

header nav li a:hover{
	border-bottom: 1px solid white;
}

.btn {
	position: fixed;
	color: white;
	top: 0;
	left: 0;
	margin: 20px;
	height: 40px;
	padding: 0 15px;
	letter-spacing: .1em;
	font: normal 16px "Montserrat" ;
	text-transform: uppercase;
	border: 1px solid white;
	background-color: transparent;
	transition: background-color 0.5s, color 0.5s;
}

.btn:hover {
	background-color: aliceblue;
	color: skyblue;

}

.landing {
	height: 500px;
	width: 800px;	
	align-self: center;
}

header h1 {
	color: white;
	font-size: 5em;
	font-weight: 500;
	letter-spacing: 0.05em;
	text-align: center;
	padding: 20px 0 60px 0;
}

.nowrap {
	white-space: nowrap;
}


.start {
	position: relative;
	width: 200px;
	height: 200px;
	background: transparent;
	color: white;
	border-radius: 50%;
	border: 3px solid white;
	text-align: center;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	font-size: 30px;
	transition: background-color 0.5s, color 0.5s, border-radius 0.5s;
}

.start:hover {
	background-color: aliceblue;
	color:skyblue;
	border: 3px solid skyblue;
}

/*banner styles*/

section{
	padding: 80px 30px;
	background-color: white;
}

section h2{
	text-align: center;
	font-size: 40px;
	line-height: 1.65em;
	margin-bottom: 0.7em;
	color: skyblue;
}

section p {
	max-width: 1000px;
	font-size: 25px;
	margin: 0 auto;
	color: grey;
}

.rooms {
	max-width: 1000px;
	margin: 60px auto 0 auto;
	display: flex;
	justify-content: space-around;
}

.rooms button{
	width: 150px;
	height: 150px;
	background-color: transparent;
	border-radius: 50%;
	color: skyblue;
	border: solid 3px skyblue;
	font-size: 16px;
	transition: background-color 0.5s;
}

.rooms button:hover{
	background-color: aliceblue;
	cursor: pointer;
}


/*Carousel styles*/
.carousel {
	padding: 2em 0;
	position: relative;
	overflow: hidden;
}

.reel {
	
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	padding: 0 2em;
}

.reel::-webkit-scrollbar { 
    display: none; 
}



article {
	min-width: 21em;
	margin: 0 1.25em 0 0;
	background: white;
	text-align: center;
}


article a img {
	width: 100%;
}

.card{
	padding: 40px 10px;
}

.card h3 {
	padding-bottom: 10px;
}

.about {
	height: 600px;
	background-color: white;
}

.scroll {
	position: absolute;
	height: 120px;
	width: 120px;
	font-size: 40px;
	color: white;
	background-color: grey;
	opacity: 0.5;
	border: none;
	border-radius: 50%;
	transition: opacity 0.5s;
}

.scroll:hover{
	opacity: 0.8;
}

#left {
	top: 50%;
	left: 0;
	transform: translate(-40%, -50%);
}

#right {
	top: 50%;
	right: 0;
	transform: translate(40%, -50%);

}
